.create-container {
  height: 100%;
  width: 100%;
  background: ghostwhite;
  padding: 2em;

  .card-container {
    width: 100%;
    height: 10%;
    position: relative;
    transition: 200ms;
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
  }

  .card-container:first-child {
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    border-top: 1px solid lightgray;
  }

  .card-container:last-child {
    border-bottom-left-radius: .25rem;
    border-bottom-right-radius: .25rem;
  }
}


