<ng-container *ngIf="timer">
  <div #card (press)="startAnimation('headShake')" @enter [@cardAnimator]="animationState"
       cdkDrag
       class="card">
    <span class="me-1 number">{{index}}</span>
    <div class="flex-column timer-info">
      <span *ngIf="timer.name">{{timer.name}}</span>
      <span>Durée : {{timer.time! | time}}</span>
    </div>
    <div class="hidden-btn">
      <fa-icon [icon]="duplicateIcon" (click)="onDuplicate()"></fa-icon>
      <fa-icon [icon]="deleteIcon" (click)="onDelete()"></fa-icon>
    </div>
  </div>


</ng-container>

