<ng-container *ngIf="timer">
  <div class="card-container">
    <div class="card" #card
         [@cardAnimator]="animationState"
         (swipeleft)="onPanLeft()"
         (swiperight)="onPanRight()"
         (press)="startAnimation('headShake')">
      <span>Temps choisi : {{timer.time}}</span>
      <span *ngIf="timer.name">Nom : {{timer.name}}</span>
    </div>
    <div class="hidden-btn">
      <fa-icon [icon]="duplicateIcon" (click)="onDuplicate()"></fa-icon>
      <fa-icon [icon]="deleteIcon" (click)="onDelete()"></fa-icon>
    </div>
  </div>

</ng-container>

