<ng-container *ngIf="!isStarted; else minuteur">
  <div class="counter-container">
    {{value | minuteur}}
  </div>
  <div class="calc-container">
    <button (click)="add(1)" class="btn-calc">1</button>
    <button (click)="add(2)" class="btn-calc">2</button>
    <button (click)="add(3)" class="btn-calc">3</button>
    <button (click)="add(4)" class="btn-calc">4</button>
    <button (click)="add(5)" class="btn-calc">5</button>
    <button (click)="add(6)" class="btn-calc">6</button>
    <button (click)="add(7)" class="btn-calc">7</button>
    <button (click)="add(8)" class="btn-calc">8</button>
    <button (click)="add(9)" class="btn-calc">9</button>
    <button (click)="multiplyHundred()" class="btn-calc">00</button>
    <button (click)="multiplyTen()" class="btn-calc">0</button>
    <button (click)="remove()" class="btn-calc">
      <fa-icon [icon]="eraser"></fa-icon>
    </button>
  </div>
  <div class="play-container">
    <fa-icon (click)="showMinuteur()" [icon]="playBtn" [ngClass]="{'show': showPlay}" class="play"></fa-icon>
  </div>
</ng-container>

<ng-template #minuteur>
  <div class="flex-column h-100 w-100">
    <div class="countdown-container">
      <app-circle-progress *ngIf="currentTimer"
                           [blink]="isStarted && !isPlaying"
                           [progress]="currentTime"
                           [timer]="currentTimer"></app-circle-progress>
    </div>

    <div class="flex-fill justify-content-center align-items-center d-flex">
      <fa-icon (click)="playPauseCountdown()" [icon]="playPauseBtn()" class="play-minuteur"></fa-icon>
      <fa-icon (click)="resetMinuteur()" [icon]="stopBtn" class="stop"></fa-icon>
    </div>
  </div>
</ng-template>
