:host {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;

  .counter-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;
    font-size: 3rem;
  }

  .calc-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;
    justify-content: center;
    align-items: center;
    height: 50%;
    width: 60%;
  }

  .play-container {
    justify-content: center;
    align-items: center;
    height: 30%;
    display: flex;
  }

  .btn-calc {
    border-radius: 50%;
    width: 100%;
    margin: auto;
    aspect-ratio: 1;
    outline: none;
    border: none;
    background-color: white;
    box-shadow: 0 0 4px 3px #00000040;
    font-size: 2em;

    &:active {
      transform: scale(0.9);
    }
  }

  .countdown-container {
    height: 70%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  fa-icon {
    transition: all 200ms;

    &:active {
      transform: scale(0.9);
    }
  }

  fa-icon.play {
    font-size: 6rem;
    color: grey;
    opacity: 0;
  }

  fa-icon.play-minuteur {
    font-size: 6rem;
    color: grey;
  }

  fa-icon.stop {
    font-size: 4em;
    position: absolute;
    right: 15%;
    color: grey;

    &:active {
      transform: scale(0.9);
    }
  }

  .show {
    animation: show 500ms forwards;
  }

  @keyframes show {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 100%;
    }
  }

}


