:host {
  display: block;
  height: 9%;
  width: 100%;
  box-shadow: 0 2px 4px 0 #00000040;
  z-index: 1;

  .navbar-custom {
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 22pt;
    position: relative;

    .navbar-btn {
      width: 15vw;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .navbar-title {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .navbar-btn-right {
      position: absolute;
      right: 0.5em;
      display: flex;
      align-items: center;
      justify-content: center;

      .btn-next {
        cursor: pointer;
        font-size: 12pt;
        padding: 0.5em;
        border: 1px solid grey;
        border-radius: 10px;
        transition: 200ms;

        &:active {
          transform: scale(0.9);
        }
      }
    }
  }

}
