
.time-container {
  width: 100%;
  height: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 4em;
  z-index: 1;

  &::after {
    content: "";
    z-index: -1;
    position: absolute;
    width: 70vw;
    height: 70vw;
    border-radius: 50%;
    background: white;
    box-shadow: 0 0 4px 3px #00000040;
  }
}

fa-icon {
  color: grey;
}

fa-icon.play {
  font-size: 6em;

  &:active {
    transform: scale(0.9);
  }
}

fa-icon.stop {
  font-size: 4em;
  position: absolute;
  right: 15%;

  &:active {
    transform: scale(0.9);
  }
}

.millis {
  font-size: 0.5em;
}


