<div class="flex-column h-100 w-100">
  <div class="time-container">
    <span [ngClass]="{'blink': isStarted && !isPlaying}">{{currentTime | time: true}}</span>
    <span [ngClass]="{'blink': isStarted && !isPlaying}" class="millis">{{currentTime | millis}}</span>
  </div>
  <div class="flex-fill justify-content-center align-items-center d-flex">
    <fa-icon (click)="playPauseCountdown()" [icon]="playPauseBtn()" class="play"></fa-icon>
    <fa-icon (click)="resetChrono()" [icon]="stopBtn" class="stop"></fa-icon>
  </div>
</div>
