.utilitaire-content {
  width: 100%;
  height: 93%;
}

.utilitaire-tabs {
  width: 100%;
  height: 7%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: white;
  border: 1px solid lightgrey;
}

.limit {
  height: 60%;
  width: 1px;
  background: #888;
}

.tab {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 200ms;
}

.selected {
  background: ghostwhite;
  color: black;
}

